.footer{
  background: #1D3E3B;
  padding: 37px 0;
  &-title{
    font-family: $Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  &-phone{
    margin-bottom: 30px;
    a{
      font-family: $Lato;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: #FECD68;
    }
  }
  &-address{
    max-width: 220px;
    font-family: $Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
  &-wrap{
    display: flex;
  }
  &-nav{
    width: 260px;
    margin: 0 130px;
    ul{
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
    }
    a{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }
    li{
      width: 50%;
      margin-bottom: 25px;
    }
  }
  &-email{
    margin-bottom: 20px;
    span{
      font-family: $Lato;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #FFCD66;
    }
    a{
      font-family: $Lato;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
  &-social{
    ul{
      display: flex;
      list-style: none;
      padding-left: 0;
    }
    li{
      margin-right: 10px;
    }
  }
  &-item{
    &:last-of-type{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
//.footer{
//  background: $black;
//  .container{
//    width: 100%;
//    display: flex;
//    flex-wrap: wrap;
//    padding: 10px 15px 6px;
//    .icon{
//      fill: $white;
//    }
//  }
//  &-logo{
//    margin: 0 auto 0 0;
//    max-width: 120px;
//    a, img{
//      width: 100%;
//    }
//    img{
//      filter: invert(1);
//    }
//  }
//  &-social{
//    ul{
//      display: flex;
//    }
//    li{
//      margin-right: 10px;
//    }
//  }
//  &-phone{
//    position: relative;
//    ul{
//      display: none;
//    }
//  }
//  &-phone__btn{
//    margin-right: 10px;
//    .icon{
//      width: 16px;
//      height: 16px;
//    }
//  }
//  &-nav__button{
//    .icon-cross{
//      width: 16px;
//      height: 16px;
//    }
//  }
//}