@media screen and (max-width: 1250px) {
 .license-slider{
   max-width: 100%;
   margin: 0;
 }
  .license, .partner{
    &-prev{
      left: 15px;
    }
    &-next{
      right: 15px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .header{
    padding: 20px 0;
  }
  .page-content{
    padding-top: 70px;
  }
  .hero{
    &-media{
      top: 175px;
      height: 540px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-desc{
      max-width: 480px;
      padding: 20px;
    }
    &-title{
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 10px;
    }
    &-text{
      margin-bottom: 20px;
    }
    &-button{
      flex-wrap: wrap;
      a{
        width: auto;
        margin-bottom: 10px;
      }
    }
  }
  .work{
    &-media{
      height: 537px;
      padding-right: 140px;
      padding-top: 30px;
      flex-direction: column;
      img{
        width: 400px;
      }
    }
    &-item{
      &:nth-of-type(2){
        right: 100px;
      }
      &__text{
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  .step{
    &-title{
      padding-top: 10px;
    }
    &-wrap{
      padding-left: 0;
    }
    &-description{
      align-items: flex-start;
    }
  }
  .about{
    &-desc, &-media{
      max-width: 450px;
    }
    &-media{
      img{
        width: 100%;
      }
    }
  }
  .step{
    &-des{
      max-width: 450px;
    }
    &-media{
      max-width: 450px;
    }
  }
  .reviews-slider {
    max-width: 790px;
  }
  .question-desc {
    max-width: 640px;
  }
  .footer-phone{
    a{
      font-size: 18px;
      line-height: 22px;
    }
  }
}
@media screen and (max-width: 992px) {
  .header-btn{
    display: block;
  }
  .header{
    &:before{
      position: absolute;
      top: 100%;
      content: '';
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      background: rgba(0,0,0,.4);
      transition: all ease 300ms;
    }
    &:after{
      position: absolute;
      top: 0;
      content: '';
      right: 0;
      width: 200px;
      height: 100vh;
      background: $white;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    &-nav{
      transition: all ease 300ms;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      top: 100%;
      right: 0;
      ul{
        flex-direction: column;
        width: 100px;
      }
      li{
        margin: 0 0 10px;
      }
    }
    &-phone{
      transition: all ease 300ms;
      position: absolute;
      top: 220px;
      right: 15px;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      a{
        font-size: 16px;
        line-height: 18px;
      }
    }
    &.active{
      .header-nav{
        opacity: 1;
        visibility: visible;
      }
      .header-phone{
        opacity: 1;
        visibility: visible;
      }
      &:before{
        opacity: 1;
        visibility: visible;
      }
      &:after{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .hero{
    &-desc{
      left: 15px;
    }
  }
  .work{
    padding: 40px 0;
    &-item{
      &:nth-of-type(1), &:nth-of-type(4){
        text-align: left;
        max-width: 280px;
        left: 0;
        padding-right: 0;
        padding-left: 10px;
        &:after{
          right: auto;
          left: 0;
        }
      }
      &:nth-of-type(2){
        max-width: 280px;
        right: 50px;
      }
    }
    &-media{
      padding-right: 50px;
      padding-top: 45px;
      img {
        width: 300px;
        transform: scale(-1, 1);
      }
    }

  }
  .title-section{
    font-size: 30px;
    line-height: 35px;
  }
  .about{
    padding: 30px 0;
    &-media{
      margin: 0 auto 30px;
    }
    &-desc{
      max-width: 100%;
      width: 100%;
    }
    .text-section{
      font-size: 14px;
      line-height: 16px;
    }
  }
  .step{
    &-inner{
      max-width: 100%;
    }
    &-line{
      max-width: 100%;
    }
    &-item{
      margin-right: 75px;
      &:nth-of-type(3){
        margin-left: 75px;
      }
    }
    &__numb{
      font-size: 15px;
      line-height: 18px;
    }
  }
  .step{
    padding: 50px 0;
    &-title{
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 20px;
    }
    &-text{
      font-size: 15px;
      line-height: 18px;
      p{
        font-size: 15px;
        line-height: 18px;
      }
      b{
        font-size: 15px;
        line-height: 18px;
      }
    }
    &-media{
      max-width: 350px;
    }
    &-des{
      max-width: 350px;
    }
  }
  .reviews{
    padding: 34px 0;
    &-slider{
      max-width: 600px;
    }
  }
  .question{
    padding: 35px 0 130px;
    position: relative;
    .container{
      flex-direction: column;
    }
    &-info{
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
    &-link{
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
    }
    &-desc{
      max-width: 100%;
    }
  }
  .contact{
    .title-contact{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    .text-contact{
      font-size: 15px;
      line-height: 18px;
    }
    &-form{
      padding: 36px 20px 29px;
      &__title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
        text-align: center;
      }
      label{
        margin-bottom: 15px;
      }
      input{
        padding: 9px 14px;
      }
      .modal-group{
        margin: -5px 0 10px;
      }
      .btn-secondary{
        padding: 8px 19px;
      }
    }
    &-desc{
      padding: 53px 34px 40px 0;
    }
  }
  .footer{
    &-title{
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &-phone{
      a{
        font-size: 25px;
        line-height: 30px;
      }
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-nav{
      margin: 0 0 0 auto;
      width: 200px;
    }
    &-item{
      &:nth-of-type(2){
        margin: 0 0 0 auto;
      }
      &:last-of-type{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .title-section{
    font-size: 24px;
    line-height: 28px;
  }
  .hero{
    &-media{
      height: 760px;
      overflow: hidden;
      img{
        transform: scale(-1, 1);
        object-position: -920px 0;
      }
    }
    &-desc{
      left: 15px;
      right: 15px;
      max-width: 100%;
      top: auto;
      bottom: 35px;
    }
    &-title{
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    &-text{
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 30px;
    }
  }
  .work{
    padding: 30px 0;
    &-item{
      &:nth-of-type(1){
        top: 30px;
        max-width: 255px;
      }
      &:nth-of-type(2){
        right: 0;
        top: 30px;
      }
      &:nth-of-type(3){
        top: 180px;
        max-width: 280px;
      }
      &:nth-of-type(4){
        left: auto;
        right: 0;
        top: 360px;
      }
      &:nth-of-type(5){
        right: auto;
        top: 475px;
      }
    }
    &-media{
      padding-right: 0;
      padding-top: 125px;
      img {
        margin: 0 0 0 -50px;
      }
    }

  }
  .step{
    padding: 35px 0;
    overflow: hidden;
    &-inner{
      flex-direction: column;
    }
    &-line{
      transform: rotate(0);
      height: 90%;
      flex-direction: column;
      width: 1px;
      padding: 40px 0;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto 0;
      &:before{
        width: 3px;
        height: 100%;
        top: 0;
        margin-top: 0;
      }
      span{
        margin-left: -11px;
      }
    }
    &-item{
      margin-right: 0;
      max-width: 250px;
      width: 40%;
      &:nth-of-type(1){
        margin: 0 0 60px auto;
      }
      &:nth-of-type(2){
        margin: 0 0 0 auto;
      }
      &:nth-of-type(3){
        margin: -210px 0 70px 0;
      }
      &:nth-of-type(4){}
      &__numb{
        font-size: 15px;
        line-height: 18px;
      }
    }
    &-des{
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
    }
    &-media{
      max-width: 100%;
      justify-content: center;
      .play-button{
        img{
          width: 44px;
          height: 44px;
        }
      }
      &__title, &__time{
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
  .reviews{
    padding: 34px 0 45px;
    .title-section{
      margin-bottom: 25px;
    }
    &-prev,
    &-next{
      width: 30px;
      height: 30px;
      img{
        width: 100%;
      }
    }
    &-item{
      max-width: 180px;
      &__date{
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
      }
      &__text{
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .question{
    .title-section{
      margin-bottom: 25px;
    }
    &-text{
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
    }
    &-item{
      &__title{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 40px 15px 0;
        &:after{
          margin-top: -10px;
          width: 12px;
          height: 18px;
        }
      }
      &__text{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        span{
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  .license, .partner {
    &-slider{
      max-width: calc(100% - 30px);
      margin: 0 auto;
    }
    &-next{
      right: 0;
    }
    &-prev{
      left: 0;
    }

  }
  .license{
    .slide{
      a{
        display: block;
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }
  .partner{
    padding: 40px 0 35px;
  }
  .contact{
    .container{
      flex-direction: column;
    }
    &-desc{
      width: 100%;
    }
    &-form{
      width: 100%;
    }
    .bg-contact{
      width: 100%;
      height: 210px;
    }
  }
}
@media screen and (max-width: 576px) {
  .hero {
    &-desc{
      bottom: 75px;
    }
    &-media {
      img {
        transform: none;
        object-position: 0;
      }
    }
    &-button{
      .btn-secondary{
        margin-right: 0;
      }
    }
  }
  .work{
    &-item{
      &__title{
        font-size: 13px;
        line-height: 16px;
      }
      &:nth-of-type(1){
        top: 100px;
        text-align: right;
        max-width: 200px;
        left: auto;
        right: 0;
        padding-left: 0;
        padding-right: 11px;
        &:after{
          right: 0;
          left: auto;
        }
      }
      &:nth-of-type(2){
        top: 230px;
        text-align: right;
        max-width: 200px;
        padding-left: 0;
        padding-right: 10px;
        &:after{
          right: 0;
          left: auto;
        }
      }
      &:nth-of-type(3){
        text-align: left;
        top: 390px;
        max-width: 100%;
        &:after{
          right: auto;
          left: 0;
        }
      }
      &:nth-of-type(4){
        left: auto;
        right: 0;
        top: 470px;
        padding-left: 0;
        padding-right: 10px;
        max-width: 100%;
        &:after{
          right: 0;
          left: auto;
        }
      }
      &:nth-of-type(5){
        right: auto;
        top: 20px;
      }
    }
    &-media{
      padding-right: 0;
      padding-top: 95px;
      img {
        margin: 0 0 0 -70px;
      }
    }

  }
  .contact{
    .bg-contact{
      width: 100%;
      height: 250px;
    }
    &-form{
      padding: 56px 20px 29px;
    }
  }
  .footer{
    &-title{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    &-phone {
      a{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
      }
    }
    &-address{
      font-size: 15px;
      line-height: 18px;
    }
    &-nav{
      margin: -50px 0 0 auto;
      width: 100px;
      a{
        font-size: 13px;
        line-height: 16px;
      }
      li{
        width: 100%;
        margin-bottom: 13px;
      }
    }
    &-email{
      span{
        font-size: 15px;
        line-height: 18px;
      }
      a{
        font-size: 15px;
        line-height: 18px;
      }
    }
    &-address{
      max-width: 150px;
    }
  }

}


@media screen and (max-width: 480px) {
  .work{
    &-media{
      height: 590px;
    }
    &-item{
      &:nth-of-type(3){
        top: 390px;
      }
      &:nth-of-type(4){
        top: 500px;
      }
    }
  }
  .contact {
    .bg-contact{
      height: 290px;
    }
  }
}
@media screen and (max-width: 400px) {
  .work-media {
    img{
      width: 200px;
    }
  }
  .work{
    &-item{
      &:nth-of-type(3){
        top: 390px;
      }
      &:nth-of-type(4){
        top: 490px;
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .contact {
    .bg-contact {
      height: 330px;
    }
  }
}