body.compensate-for-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s, visibility 0s linear .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s, visibility 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px 44px 0 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide--image {
  padding: 44px 0 0 0; }

.fancybox-slide--image {
  overflow: visible; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px 6px 0 6px; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 44px 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-slide--html .fancybox-content {
  margin: 0 0 6px 0; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: calc(100% - 44px);
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  width: 100%; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  transition: color .2s;
  vertical-align: top;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none; }

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--html .fancybox-close-small:hover {
  color: currentColor;
  opacity: 1; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  height: 38px;
  margin: 0;
  opacity: 0;
  padding: 7px;
  position: absolute;
  top: calc(50% - (38px / 2));
  width: 38px; }

.fancybox-show-nav .fancybox-navigation .fancybox-button {
  transition: opacity .25s, visibility 0s, color .25s; }

.fancybox-navigation .fancybox-button::after {
  content: '';
  height: 100px;
  left: -26px;
  position: absolute;
  top: -31px;
  width: 70px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 6px; }

/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0; }

.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1; }

.fancybox-caption::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  border: 6px solid rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  border-top-color: #fff;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: .6;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0 0 0; }
  .fancybox-slide--image .fancybox-content {
    margin-bottom: 6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; } }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #fff;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a::before {
  border: 4px solid #4ea7f9;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus::before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 768px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }

.page-wrapper {
  font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  flex: 1 0 auto;
  z-index: 10; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex; }

.static-header {
  width: 100%;
  height: 100%;
  object-fit: contain; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #1F1C1C;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h2 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #1F1C1C; }

h4 {
  font-size: 16px;
  line-height: 28px;
  color: #1F1C1C; }

h5 {
  font-size: 16px;
  line-height: 26px;
  color: #1F1C1C; }

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #1F1C1C; }

p {
  font-size: 14px;
  line-height: 23px; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.section {
  position: relative;
  padding: 100px 0; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

.wysiwyg {
  font-size: 16px;
  line-height: 24px;
  color: #1F1C1C; }
  .wysiwyg p {
    font-size: 16px;
    line-height: 24px;
    color: #1F1C1C;
    margin-bottom: 16px; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  display: inline-block;
  font-size: 13px;
  color: #1F1C1C;
  padding: 0 13px;
  width: 100%;
  height: 38px;
  border: 1px solid #AFA6A6;
  background-color: #ffffff;
  border-radius: 0;
  text-overflow: ellipsis; }
  .input::-webkit-input-placeholder {
    color: #AFA6A6;
    opacity: 1; }
  .input::-moz-placeholder {
    color: #AFA6A6;
    opacity: 1; }
  .input:-moz-placeholder {
    color: #AFA6A6;
    opacity: 1; }
  .input::-ms-input-placeholder {
    color: #AFA6A6;
    opacity: 1; }
  .input:-ms-input-placeholder {
    color: #AFA6A6;
    opacity: 1; }
  .input:focus, .input:active {
    border-color: #1F1C1C; }
  .input:invalid {
    box-shadow: none; }
  .input:-moz-submit-invalid {
    box-shadow: none; }
  .input:-moz-ui-invalid {
    box-shadow: none; }

.btn-secondary,
.btn-primary {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 14px 19px; }

.btn-primary {
  color: #FFFFFF;
  background: #FECD68; }
  .btn-primary:hover {
    color: #FECD68;
    background: transparent;
    border-color: #FECD68; }

.btn-secondary {
  border-color: #FECD68;
  color: #FFCD66;
  background: transparent; }
  .btn-secondary:hover {
    color: #fff;
    background: #FECD68;
    border-color: #FECD68; }

.title-section {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #FECD68; }
  .title-section__white {
    color: #fff; }

.slide {
  outline: none !important;
  border: 0 !important; }
  .slide:hover, .slide:active {
    outline: none !important;
    border: 0 !important; }

.tab-item {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease; }
  .tab-item.active {
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1; }

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 32px 0;
  background: #ffffff; }
  .header.scroll-nav {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header ul {
    list-style: none;
    padding: 0; }
  .header-logo a {
    display: block; }
  .header-nav {
    margin: 0 58px 0 auto; }
    .header-nav ul {
      display: flex; }
    .header-nav li {
      margin-right: 55px; }
      .header-nav li:last-of-type {
        margin-right: 0; }
    .header-nav a {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000; }
  .header-phone a {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FECD68; }

.header-overlay {
  display: none; }

.page-content {
  padding-top: 94px; }

.header-btn {
  display: none;
  position: relative;
  width: 20px;
  height: 14px;
  margin: 0 0 0 10px; }
  .header-btn:before, .header-btn:after, .header-btn span {
    position: absolute;
    background: #FFCD66;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all ease 300ms; }
  .header-btn:before, .header-btn:after {
    content: ''; }
  .header-btn:before {
    top: 0; }
  .header-btn:after {
    top: calc(100% - 2px); }
  .header-btn span {
    top: 50%;
    margin-top: -1px; }
  .header-btn.active:before, .header-btn.active:after {
    content: '';
    width: 100%;
    top: 50%;
    margin-top: -2px; }
  .header-btn.active span {
    opacity: 0; }
  .header-btn.active:before {
    transform: rotate(45deg); }
  .header-btn.active:after {
    transform: rotate(-45deg); }

.footer {
  background: #1D3E3B;
  padding: 37px 0; }
  .footer-title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .footer-phone {
    margin-bottom: 30px; }
    .footer-phone a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: #FECD68; }
  .footer-address {
    max-width: 220px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; }
  .footer-wrap {
    display: flex; }
  .footer-nav {
    width: 260px;
    margin: 0 130px; }
    .footer-nav ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none; }
    .footer-nav a {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; }
    .footer-nav li {
      width: 50%;
      margin-bottom: 25px; }
  .footer-email {
    margin-bottom: 20px; }
    .footer-email span {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #FFCD66; }
    .footer-email a {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; }
  .footer-social ul {
    display: flex;
    list-style: none;
    padding-left: 0; }
  .footer-social li {
    margin-right: 10px; }
  .footer-item:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.hero {
  padding: 0;
  position: relative; }
  .hero .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%; }
  .hero-media {
    width: 100%; }
    .hero-media img {
      width: 100%; }
  .hero-desc {
    max-width: 614px;
    position: absolute;
    top: 105px;
    left: 0;
    padding: 42px 50px;
    background: rgba(29, 62, 59, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; }
  .hero-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .hero-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 40px; }
    .hero-text b {
      color: #FFCD66;
      font-weight: 600; }
  .hero-button {
    display: flex; }
    .hero-button .btn-secondary {
      margin-right: 34px; }

.work {
  padding: 90px 0; }
  .work-inner {
    position: relative; }
  .work-media {
    z-index: 1;
    padding-right: 120px; }
    .work-media img {
      margin: 0 auto; }
  .work-wrap {
    position: absolute;
    width: 100%;
    z-index: 2; }
  .work-item {
    max-width: 280px;
    position: absolute;
    text-align: left;
    padding-left: 10px;
    padding-right: 0; }
    .work-item:after {
      position: absolute;
      content: '';
      top: 0;
      right: auto;
      left: 0;
      height: 100%;
      width: 3px;
      background: #FFCD66; }
    .work-item:nth-of-type(1) {
      left: 70px;
      top: 40px;
      max-width: 237px;
      text-align: right;
      padding-right: 10px;
      padding-left: 0; }
      .work-item:nth-of-type(1):after {
        right: 0;
        left: auto; }
    .work-item:nth-of-type(2) {
      max-width: 293px;
      right: 150px;
      top: 0; }
    .work-item:nth-of-type(3) {
      max-width: 288px;
      right: 0;
      top: 200px; }
    .work-item:nth-of-type(4) {
      max-width: 278px;
      left: 0;
      top: 325px;
      text-align: right;
      padding-left: 0;
      padding-right: 10px; }
      .work-item:nth-of-type(4):after {
        right: 0;
        left: auto; }
    .work-item:nth-of-type(5) {
      max-width: 275px;
      right: 50px;
      top: 385px; }
    .work-item__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #131F18;
      margin-bottom: 10px; }
    .work-item__text {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #626262; }

.about {
  padding: 80px 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }
  .about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about-media {
    max-width: 500px; }
  .about-desc {
    max-width: 610px; }
  .about .title-section {
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif; }
  .about .text-section {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF; }
    .about .text-section ul {
      margin: 30px 0 0 35px; }

.step {
  padding: 90px 0; }
  .step .title-section {
    margin-bottom: 50px; }
  .step-wrap {
    padding-left: 160px;
    position: relative; }
  .step-inner {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap; }
  .step-item {
    max-width: 217px;
    margin-bottom: 80px;
    margin-right: 123px; }
    .step-item:nth-of-type(3) {
      margin-left: 225px; }
    .step-item:nth-of-type(4) {
      margin-right: 0; }
    .step-item__numb {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #131F18;
      min-width: 90px;
      margin-bottom: 10px;
      display: inline-block;
      position: relative; }
      .step-item__numb:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: #FECD68; }
    .step-item__text {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #626262; }
  .step-line {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    padding: 0 125px;
    display: flex;
    justify-content: space-between; }
    .step-line:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      margin-top: -1px;
      height: 3px;
      width: 100%;
      background: #FFCD66; }
    .step-line span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #FFCD66; }
  .step-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .step-des {
    max-width: 590px; }
  .step-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding-top: 46px;
    margin-bottom: 30px;
    position: relative; }
    .step-title:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 5px;
      width: 80px;
      border-radius: 5px;
      background: #FECD68; }
  .step-text {
    margin-bottom: 35px; }
    .step-text p {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      margin-bottom: 28px; }
      .step-text p:last-of-type {
        margin-bottom: 0px; }
  .step-media {
    max-width: 495px;
    display: flex;
    flex-wrap: wrap; }
    .step-media__video {
      width: 100%;
      margin-bottom: 10px;
      position: relative;
      max-width: 495px;
      max-height: 290px;
      border-radius: 10px;
      overflow: hidden; }
      .step-media__video video {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .step-media__video .play-button {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2; }
        .step-media__video .play-button img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
    .step-media__title {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #6B6B6B;
      margin-right: 35px;
      position: relative; }
      .step-media__title:after {
        position: absolute;
        content: '';
        right: -12px;
        background: #FECD68;
        top: 0;
        width: 2px;
        height: 100%; }
    .step-media__time {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #000000; }

.reviews {
  padding: 70px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .reviews .title-section {
    text-align: center;
    margin-bottom: 50px; }
  .reviews-slider {
    max-width: 960px;
    margin: 0 auto; }
  .reviews-item {
    max-width: 250px;
    margin: 0 auto; }
    .reviews-item__rating {
      margin-bottom: 15px; }
      .reviews-item__rating img {
        margin: 0 auto; }
    .reviews-item__date {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #FFCD66;
      margin-bottom: 30px; }
    .reviews-item__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF; }
  .reviews-wrap {
    position: relative; }
  .reviews-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
  .reviews-prev, .reviews-next {
    position: absolute;
    cursor: pointer; }
  .reviews-prev {
    left: 0; }
  .reviews-next {
    right: 0; }

.question {
  padding: 80px 0 40px; }
  .question .container {
    display: flex;
    justify-content: space-between; }
  .question-link .btn-primary {
    padding: 16px 54px; }
  .question-info {
    max-width: 320px; }
    .question-info .title-section {
      margin-bottom: 40px; }
  .question-desc {
    max-width: 720px; }
  .question-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 40px; }
  .question-item {
    position: relative; }
    .question-item:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #FFCD66; }
    .question-item:last-of-type:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #FFCD66; }
    .question-item.active .question-item__title:after {
      transform: rotate(0deg); }
    .question-item__title {
      padding: 24px 40px 24px 0;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      cursor: pointer;
      position: relative; }
      .question-item__title:after {
        position: absolute;
        content: '';
        right: 15px;
        top: 50%;
        margin-top: -18px;
        width: 16px;
        height: 26px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='26' viewBox='0 0 16 26' fill='none'%3E%3Cpath d='M8.70711 0.292892C8.31658 -0.0976315 7.68342 -0.0976315 7.29289 0.292892L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM9 26L9 1H7L7 26H9Z' fill='black'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(180deg); }
    .question-item__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin-bottom: 40px;
      visibility: hidden;
      position: absolute;
      left: -9999px;
      top: -9999px;
      margin-top: 50px;
      opacity: 0;
      transition: margin-top 0.7s ease, opacity 0.4s ease; }
      .question-item__text span {
        display: block;
        margin: 22px 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px; }
      .question-item__text.active {
        visibility: visible;
        position: relative;
        left: 0;
        top: 0;
        margin-top: 0;
        opacity: 1; }

.license .title-section, .partner .title-section {
  margin-bottom: 30px; }

.license-slider, .partner-slider {
  position: relative; }
  .license-slider__nav, .partner-slider__nav {
    position: absolute;
    top: 50%;
    left: -20px;
    width: calc(100% + 40px);
    margin-top: -16px; }

.license .slide img, .partner .slide img {
  margin: 0 auto; }

.license-prev, .license-next, .partner-prev, .partner-next {
  cursor: pointer;
  position: absolute; }
  .license-prev .icon, .license-next .icon, .partner-prev .icon, .partner-next .icon {
    width: 16px;
    height: 32px;
    stroke: #5A5A5A;
    fill: transparent; }

.license-prev, .partner-prev {
  left: 0; }

.license-next, .partner-next {
  right: 0; }

.license-slider {
  max-width: 1000px;
  margin: 0 0 0 auto; }

.license .slide {
  text-align: center; }

.partner {
  padding: 40px 0 90px; }
  .partner .title-section {
    margin-bottom: 55px; }
  .partner .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px; }
    .partner .slide img {
      margin: 0 auto; }

.contact {
  padding: 0;
  overflow: hidden;
  max-width: 1920px;
  background: #FECD68;
  margin: 0 auto; }
  .contact .bg-contact {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(50% + 1px); }
    .contact .bg-contact img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contact .title-contact {
    margin-bottom: 70px;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #FECD68; }
  .contact .text-contact {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF; }
  .contact .container {
    position: relative;
    z-index: 2;
    display: flex; }
  .contact-desc {
    width: 50%;
    padding: 80px 80px 128px 0; }
  .contact-form {
    width: 50%;
    padding: 80px 0 128px 80px; }
    .contact-form__title {
      font-weight: 800;
      font-size: 30px;
      line-height: 35px;
      color: #FFFFFF;
      margin-bottom: 36px; }
    .contact-form input {
      background: #FFFFFF;
      border-radius: 5px;
      padding: 12px 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #B9B9B9;
      width: 100%;
      border: 0;
      outline: none; }
    .contact-form label {
      width: 100%;
      display: block;
      margin-bottom: 25px; }
    .contact-form .modal-group {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      text-align: left;
      color: #FFFFFF;
      margin: -5px 0 18px;
      position: relative; }
      .contact-form .modal-group input {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        position: absolute; }
        .contact-form .modal-group input:checked + label:after {
          opacity: 1; }
      .contact-form .modal-group label {
        padding-left: 30px; }
        .contact-form .modal-group label:before, .contact-form .modal-group label:after {
          position: absolute;
          content: '';
          border-radius: 50%; }
        .contact-form .modal-group label:before {
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border: 1px solid #fff; }
        .contact-form .modal-group label:after {
          width: 6px;
          height: 6px;
          background: #fff;
          top: 5px;
          left: 5px;
          opacity: 0; }
    .contact-form .btn-secondary {
      width: 100%;
      text-align: center;
      color: #fff;
      border-color: #fff; }
      .contact-form .btn-secondary:hover {
        color: #FECD68;
        border-color: #fff;
        background: #fff; }

@media screen and (max-width: 1250px) {
  .license-slider {
    max-width: 100%;
    margin: 0; }
  .license-prev, .partner-prev {
    left: 15px; }
  .license-next, .partner-next {
    right: 15px; } }

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 0; }
  .page-content {
    padding-top: 70px; }
  .hero-media {
    top: 175px;
    height: 540px; }
    .hero-media img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .hero-desc {
    max-width: 480px;
    padding: 20px; }
  .hero-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px; }
  .hero-text {
    margin-bottom: 20px; }
  .hero-button {
    flex-wrap: wrap; }
    .hero-button a {
      width: auto;
      margin-bottom: 10px; }
  .work-media {
    height: 537px;
    padding-right: 140px;
    padding-top: 30px;
    flex-direction: column; }
    .work-media img {
      width: 400px; }
  .step-title {
    padding-top: 10px; }
  .step-wrap {
    padding-left: 0; }
  .step-description {
    align-items: flex-start; }
  .about-desc, .about-media {
    max-width: 450px; }
  .about-media img {
    width: 100%; }
  .step-des {
    max-width: 450px; }
  .step-media {
    max-width: 450px; }
  .reviews-slider {
    max-width: 790px; }
  .question-desc {
    max-width: 640px; }
  .footer-phone a {
    font-size: 18px;
    line-height: 22px; } }

@media screen and (max-width: 992px) {
  .header-btn {
    display: block; }
  .header:before {
    position: absolute;
    top: 100%;
    content: '';
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
    transition: all ease 300ms; }
  .header:after {
    position: absolute;
    top: 0;
    content: '';
    right: 0;
    width: 200px;
    height: 100vh;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .header-nav {
    transition: all ease 300ms;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 0; }
    .header-nav ul {
      flex-direction: column;
      width: 100px; }
    .header-nav li {
      margin: 0 0 10px; }
  .header-phone {
    transition: all ease 300ms;
    position: absolute;
    top: 220px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
    .header-phone a {
      font-size: 16px;
      line-height: 18px; }
  .header.active .header-nav {
    opacity: 1;
    visibility: visible; }
  .header.active .header-phone {
    opacity: 1;
    visibility: visible; }
  .header.active:before {
    opacity: 1;
    visibility: visible; }
  .header.active:after {
    opacity: 1;
    visibility: visible; }
  .hero-desc {
    left: 15px; }
  .work {
    padding: 40px 0; }
    .work-item:nth-of-type(1), .work-item:nth-of-type(4) {
      text-align: left;
      max-width: 280px;
      left: 0;
      padding-right: 0;
      padding-left: 10px; }
      .work-item:nth-of-type(1):after, .work-item:nth-of-type(4):after {
        right: auto;
        left: 0; }
    .work-item:nth-of-type(2) {
      max-width: 280px;
      right: 50px; }
    .work-media {
      padding-right: 50px;
      padding-top: 45px; }
      .work-media img {
        width: 300px;
        transform: scale(-1, 1); }
  .title-section {
    font-size: 30px;
    line-height: 35px; }
  .about {
    padding: 30px 0; }
    .about-media {
      margin: 0 auto 30px; }
    .about-desc {
      max-width: 100%;
      width: 100%; }
    .about .text-section {
      font-size: 14px;
      line-height: 16px; }
  .step-inner {
    max-width: 100%; }
  .step-line {
    max-width: 100%; }
  .step-item {
    margin-right: 75px; }
    .step-item:nth-of-type(3) {
      margin-left: 75px; }
  .step__numb {
    font-size: 15px;
    line-height: 18px; }
  .step {
    padding: 50px 0; }
    .step-title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 20px; }
    .step-text {
      font-size: 15px;
      line-height: 18px; }
      .step-text p {
        font-size: 15px;
        line-height: 18px; }
      .step-text b {
        font-size: 15px;
        line-height: 18px; }
    .step-media {
      max-width: 350px; }
    .step-des {
      max-width: 350px; }
  .reviews {
    padding: 34px 0; }
    .reviews-slider {
      max-width: 600px; }
  .question {
    padding: 35px 0 130px;
    position: relative; }
    .question .container {
      flex-direction: column; }
    .question-info {
      width: 100%;
      max-width: 100%;
      text-align: left; }
    .question-link {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3; }
    .question-desc {
      max-width: 100%; }
  .contact .title-contact {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px; }
  .contact .text-contact {
    font-size: 15px;
    line-height: 18px; }
  .contact-form {
    padding: 36px 20px 29px; }
    .contact-form__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 20px;
      text-align: center; }
    .contact-form label {
      margin-bottom: 15px; }
    .contact-form input {
      padding: 9px 14px; }
    .contact-form .modal-group {
      margin: -5px 0 10px; }
    .contact-form .btn-secondary {
      padding: 8px 19px; }
  .contact-desc {
    padding: 53px 34px 40px 0; }
  .footer-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px; }
  .footer-phone a {
    font-size: 25px;
    line-height: 30px; }
  .footer-wrap {
    flex-wrap: wrap; }
  .footer-nav {
    margin: 0 0 0 auto;
    width: 200px; }
  .footer-item:nth-of-type(2) {
    margin: 0 0 0 auto; }
  .footer-item:last-of-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

@media screen and (max-width: 768px) {
  .title-section {
    font-size: 24px;
    line-height: 28px; }
  .hero-media {
    height: 760px;
    overflow: hidden; }
    .hero-media img {
      transform: scale(-1, 1);
      object-position: -920px 0; }
  .hero-desc {
    left: 15px;
    right: 15px;
    max-width: 100%;
    top: auto;
    bottom: 35px; }
  .hero-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px; }
  .hero-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px; }
  .work {
    padding: 30px 0; }
    .work-item:nth-of-type(1) {
      top: 30px;
      max-width: 255px; }
    .work-item:nth-of-type(2) {
      right: 0;
      top: 30px; }
    .work-item:nth-of-type(3) {
      top: 180px;
      max-width: 280px; }
    .work-item:nth-of-type(4) {
      left: auto;
      right: 0;
      top: 360px; }
    .work-item:nth-of-type(5) {
      right: auto;
      top: 475px; }
    .work-media {
      padding-right: 0;
      padding-top: 125px; }
      .work-media img {
        margin: 0 0 0 -50px; }
  .step {
    padding: 35px 0;
    overflow: hidden; }
    .step-inner {
      flex-direction: column; }
    .step-line {
      transform: rotate(0);
      height: 90%;
      flex-direction: column;
      width: 1px;
      padding: 40px 0;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto 0; }
      .step-line:before {
        width: 3px;
        height: 100%;
        top: 0;
        margin-top: 0; }
      .step-line span {
        margin-left: -11px; }
    .step-item {
      margin-right: 0;
      max-width: 250px;
      width: 40%; }
      .step-item:nth-of-type(1) {
        margin: 0 0 60px auto; }
      .step-item:nth-of-type(2) {
        margin: 0 0 0 auto; }
      .step-item:nth-of-type(3) {
        margin: -210px 0 70px 0; }
      .step-item__numb {
        font-size: 15px;
        line-height: 18px; }
    .step-des {
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px; }
    .step-media {
      max-width: 100%;
      justify-content: center; }
      .step-media .play-button img {
        width: 44px;
        height: 44px; }
      .step-media__title, .step-media__time {
        font-size: 15px;
        line-height: 18px; }
  .reviews {
    padding: 34px 0 45px; }
    .reviews .title-section {
      margin-bottom: 25px; }
    .reviews-prev, .reviews-next {
      width: 30px;
      height: 30px; }
      .reviews-prev img, .reviews-next img {
        width: 100%; }
    .reviews-item {
      max-width: 180px; }
      .reviews-item__date {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px; }
      .reviews-item__text {
        font-size: 14px;
        line-height: 16px; }
  .question .title-section {
    margin-bottom: 25px; }
  .question-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px; }
  .question-item__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px 15px 0; }
    .question-item__title:after {
      margin-top: -10px;
      width: 12px;
      height: 18px; }
  .question-item__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px; }
    .question-item__text span {
      font-size: 16px;
      line-height: 19px; }
  .license-slider, .partner-slider {
    max-width: calc(100% - 30px);
    margin: 0 auto; }
  .license-next, .partner-next {
    right: 0; }
  .license-prev, .partner-prev {
    left: 0; }
  .license .slide a {
    display: block;
    width: 100%; }
  .license .slide img {
    width: 100%; }
  .partner {
    padding: 40px 0 35px; }
  .contact .container {
    flex-direction: column; }
  .contact-desc {
    width: 100%; }
  .contact-form {
    width: 100%; }
  .contact .bg-contact {
    width: 100%;
    height: 210px; } }

@media screen and (max-width: 576px) {
  .hero-media img {
    object-position: -1080px 0; }
  .hero-button .btn-secondary {
    margin-right: 0; }
  .work-item__title {
    font-size: 13px;
    line-height: 16px; }
  .work-item:nth-of-type(1) {
    top: 100px;
    text-align: right;
    max-width: 200px;
    left: auto;
    right: 0;
    padding-left: 0;
    padding-right: 11px; }
    .work-item:nth-of-type(1):after {
      right: 0;
      left: auto; }
  .work-item:nth-of-type(2) {
    top: 230px;
    text-align: right;
    max-width: 200px;
    padding-left: 0;
    padding-right: 10px; }
    .work-item:nth-of-type(2):after {
      right: 0;
      left: auto; }
  .work-item:nth-of-type(3) {
    text-align: left;
    top: 390px;
    max-width: 100%; }
    .work-item:nth-of-type(3):after {
      right: auto;
      left: 0; }
  .work-item:nth-of-type(4) {
    left: auto;
    right: 0;
    top: 470px;
    padding-left: 0;
    padding-right: 10px;
    max-width: 100%; }
    .work-item:nth-of-type(4):after {
      right: 0;
      left: auto; }
  .work-item:nth-of-type(5) {
    right: auto;
    top: 20px; }
  .work-media {
    padding-right: 0;
    padding-top: 95px; }
    .work-media img {
      margin: 0 0 0 -70px; }
  .contact .bg-contact {
    width: 100%;
    height: 250px; }
  .contact-form {
    padding: 56px 20px 29px; }
  .footer-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px; }
  .footer-phone a {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px; }
  .footer-address {
    font-size: 15px;
    line-height: 18px; }
  .footer-nav {
    margin: -50px 0 0 auto;
    width: 100px; }
    .footer-nav a {
      font-size: 13px;
      line-height: 16px; }
    .footer-nav li {
      width: 100%;
      margin-bottom: 13px; }
  .footer-email span {
    font-size: 15px;
    line-height: 18px; }
  .footer-email a {
    font-size: 15px;
    line-height: 18px; }
  .footer-address {
    max-width: 150px; } }

@media screen and (max-width: 480px) {
  .contact .bg-contact {
    height: 290px; }
  .hero-media img {
    object-position: -1180px 0; } }

@media screen and (max-width: 400px) {
  .work-media img {
    width: 200px; }
  .work-item:nth-of-type(3) {
    top: 350px; }
  .work-item:nth-of-type(4) {
    top: 440px; } }

@media screen and (max-width: 380px) {
  .contact .bg-contact {
    height: 330px; } }
